* {
    box-sizing: border-box;
    margin: 0;
}

body {
    /*Box Model*/
    display: flex;
    align-items: center;
    justify-content: center;

    /*Visual*/
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
}

.container {
    /*Box Model*/
    align-items: center;
    width: 85vw;
    height: 75vh;
    padding: 2vh 2vw;

    /*Visual*/
    background-color: white;
    border-radius: 20px;
}

img {
    /*Box Model*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;

    /*Visual*/
    border-radius: 10px;
}

h1, p {
    text-align: center;
    font-family: Outfit;
}

h1 {
    /*Box Model*/
    margin: 5% 3% 6%;

    /*Typography*/
    font-size: 1.5em;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

p {
    /*Box Model*/
    margin: 0% 7%;

    /*Typography*/
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

@media screen and (min-width: 376px) {
    .container {
        width: 350px;
        height: 530px;
        padding: 15px 15px;
    }

    img {
        margin-top: auto;
        width: 100%;
    }

    p {
        margin: 0 9%;
    }
}